{% extends 'base.html' %}

{% block content %}
<div class="post-entery">
    <h2 class="text2">{{ post.title }}</h2>
    <h4 class="text2">{{ post.body }}</h4>
</div>

<a href="{% url 'post-edit' post.pk %}">Postni tahrirlash</a>
<a href="{% url 'post-delete' post.pk %}">Postni o'chirish</a>
{% endblock content %}

<style>
    .text1 {
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}

.text2 {
  color: #424242;
  margin-left: 20px;
  font-family: sans-serif;
}


</style>